<div class='AddComment'>
  {{#each this}}
    <section class='flavor-text comment-text'>
      <div class='meta'>
        {{user.username}}
        on
        {{format_date created_at}}
        at
        {{format_time created_at}}
      </div>
      <div>
        {{comment_text}}
      </div>
    </section>
  {{/each}}
</div>