<section class="">
  <a href="/pic/{{id}}">
    <header>{{title}}</header>

    <div class="">
      <img src="/images/process_images/{{filename}}" alt="{{description}}">
    </div>
  </a>
</section>
