<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skateparks</title>

   <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">  

    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    <link
      href="https://unpkg.com/filepond@^4/dist/filepond.css"
      rel="stylesheet"
    />

    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />

  </head>

  <body>
    <header>
      <h1>Sk8Spotter!</h1>
      <button class = "submit success button large expanded" >button</button>
    </header>
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
        <button id="logout" class="">Logout</button>
      {{else}}
        <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <aside>
        <h2>Check out local skateparks!</h2>
      </aside>
      <div class="skatepark">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>