<section class="painting">
  <img src="/images/{{image.filename}}" alt="{{image.description}}">
  <div class="painting-details">
    <h3>{{image.title}}</h3>
  {{#if image.url}}
    <p>at: {{painting.url}}</p>
  {{/if}}
  </div>
</section>
