<section id="photo-section" class="skaters">
    <div class="grid-y grid-padding-y grid-margin-y align-center text-center">
      <header class="align-center text-center row align-middle">
       <h2 class="section-title primary-border">{{skatepark.name}}</h2>
      </header>
      {{#each skatepark.pics as |pic|}}
      {{> pic-details}}
      {{/each}}
    </div>
</section>

{{#if loggedIn}}
<form class="AddComment">
  <h3>Add a comment:</h3>
  <div class="box">
    <textarea name="comment-body"></textarea>
  </div>
  <div class="comment">
    <button type="submit" class="button large">Add Comment</button>
  </div>

</form>

{{/if}}

{{> comments skatepark.comments}}

{{#if loggedIn}}
<form class="AddComment">
  <h3>Add a pic:</h3>
  <input type="file" multiple
    class="filepond"
    name="filepond"
    accept="image/png, image/jpeg, image/gif, image/jpg" />
</form>
{{/if}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>

<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>

<script src="https://unpkg.com/filepond@^4/dist/filepond.js"></script>
<script>
  FilePond.registerPlugin(
    FilePondPluginImagePreview,
    FilePondPluginImageResize,
    FilePondPluginImageTransform
  );
  
  // Get a reference to the file input element
  const inputElement = document.querySelector('input[type="file"]');

  // Create a FilePond instance
  const pond = FilePond.create(inputElement, {
    imageCropAspectRatio: 1,
    imageResizeTargetWidth: 256,
    onaddfile: (err, fileItem) => {
      console.log(err, fileItem.getMetadata('resize'));
    },

    // add onpreparefile callback
    onpreparefile: (fileItem, output) => {
      // create a new image object
      const img = new Image();

      // set the image source to the output of the Image Transform plugin
      img.src = URL.createObjectURL(output);

      // add it to the DOM so we can see the result
      document.body.appendChild(img);
    }
  });  
</script>
{{/if}}